{% extends 'basis/base_step.html' %}
{% import "components.html" as components %}
{% import "macros.html" as macros %}

{% block additional_stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/display_failure_success.css') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/eligibility.css') }}">
{% endblock %}

{% block step_content %}
    <div class="section-intro panel simple-card">
        <div class="row p-0">
            <div class="col-12 col-sm-2 failure-success-icon">
                <img src="{{ static_url_for('static', filename='icons/success_icon.svg') }}" alt="{{ _('success_icon') }}"/>
            </div>
            <div class="col-12 col-sm-10">
                <h1 class="headline">{{ render_info.step_title }}</h1>
                <p class="result-text">{{ error_text }} {{ render_info.step_intro }}</p>
            </div>
        </div>
    </div>

    <div class="spacing-b-09">
        <h2>{{ _('form.eligibility.success-next-step') }}</h2>
        <p class="result-text">{{ _('form.eligibility.success-next-step-text') }}</p>
    </div>

    {% set dependent_notes =  render_info.additional_info['dependent_notes'] %}
    {% if dependent_notes %}
        <div class="spacing-b-09">
            <h2 class="dependent-notes-heading">{{ _('form.eligibility.success-attention.heading') }}</h2>
            <ul class="form-list">
                {% for dependent_note in dependent_notes %}
                    <li>{{ dependent_note }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="spacing-b-11 row m-0">
        {{ components.primaryButton( text=_('form.eligibility.use-register-button'), url=url_for('unlock_code_request')) }}
    </div>
{% endblock %}
