{% extends 'basis/base_step.html' %}
{% import "components.html" as components %}
{% import "macros.html" as macros %}

{% block additional_stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/eligibility.css') }}">
{% endblock %}

{% block step_content %}
    <div class="section-intro">
        <div class="headline row p-0">
            <img src="{{ url_for('static', filename='icons/failure_icon.svg') }}"  alt="{{ _('success_icon') }}"/>
            <h1 class="col-lg-10">{{ render_info.step_title }}</h1>
        </div>
        <span class="result-text">
            <p>{{ error_text }} {{ render_info.step_intro }}</p>
        </span>
    </div>

    <div class="spacing-b-07 row m-0">
        <h2>{{ _('form.eligibility.use-elster') }}</h2>
        <span class="result-text">
            <p>{{ _('form.eligibility.use-elster-text') }}</p>
            <ol>
                <li>{{ _('form.eligibility.use-elster.list-item-1') }}</li>
                <li>{{ _('form.eligibility.use-elster.list-item-2') }}</li>
            </ol>
        </span>
    </div>


    <div class="spacing-b-11 row m-0">
        {{ components.primaryButtonWithIcon(
            text=_('form.eligibility.use-elster-button'),
            url="https://www.elster.de/eportal/start",
            icon="↗",
            target="_blank"
        )}}
    </div>
    </div>
{% endblock %}
