{% extends 'basis/base_step.html' %}
{% import "components.html" as components %}
{% import "macros.html" as macros %}

{% block additional_stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/eligibility.css') }}">
{% endblock %}

{% block step_content %}
    <div class="section-intro simple-card">
        <div class="row p-0">
            <div class="col-2 failure-success-icon">
                <img src="{{ static_url_for('static', filename='icons/failure_icon.svg') }}" alt="{{ _('success_icon') }}"/>
            </div>
            <div class="col-10">
                <h1 class="headline">{{ render_info.step_title }}</h1>
                <p class="result-text">{{ error_text }} {{ render_info.step_intro }}</p>
            </div>
        </div>
    </div>

    <div class="spacing-b-09">
        <h2>{{ _('form.eligibility.use-elster') }}</h2>
        <div class="result-text">
            <p class="use-elster-intro">{{ _('form.eligibility.use-elster-text') }}</p>
            <ol>
                <li>{{ _('form.eligibility.use-elster.list-item-1') }}</li>
                <li>{{ _('form.eligibility.use-elster.list-item-2') }}</li>
            </ol>
        </div>
    </div>


    <div class="spacing-b-11 row m-0">
        {{ components.primaryButtonWithIcon(
            text=_('form.eligibility.use-elster-button'),
            url="https://www.elster.de/eportal/start",
            icon="↗",
            target="_blank"
        ) }}
    </div>
    </div>
{% endblock %}
