{% extends 'basis/display_failure_icon.html' %}
{% import "components.html" as components %}
{% import "macros.html" as macros %}

{% set title = render_info.step_title %}
{% set error_details = [error_text, render_info.step_intro] %}

{% block additional_stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/eligibility.css') }}">
{% endblock %}

{% block next_steps %}
    <div class="spacing-b-09">
        <h2>{{ _('form.eligibility.use-elster') }}</h2>
        <div class="result-text">
            <p class="use-elster-intro">{{ _('form.eligibility.use-elster-text') }}</p>
            <ol>
                <li>{{ _('form.eligibility.use-elster.list-item-1') }}</li>
                <li>{{ _('form.eligibility.use-elster.list-item-2') }}</li>
            </ol>
        </div>
    </div>


    <div class="spacing-b-11 row m-0">
        {{ components.primaryButtonWithIcon(
            text=_('form.eligibility.use-elster-button'),
            url="https://www.elster.de/eportal/start",
            icon="↗",
            target="_blank"
        ) }}
    </div>
{% endblock %}
