{% extends 'base_form.html' %}

{% block app_content %}
<h3 class="mb-3">
    <img src="/static/icons/login.png" width="32px" alt="" class="mx-2 mb-1" />
    {{_('login.resume-title')}}
</h3>
<hr />
<div class="row mt-5 justify-content-center">
    <div class="card col-md-5 mb-4 mx-4 px-4">
        <h5 class="py-3 font-weight-bolder">
            <img src="/static/icons/login_code.png" width="48px" alt="" class="pr-0 mr-2" />
            {{_('login.resume-code-title')}}
        </h5>
        <p>{{_('login.resume-code-desc')}}</p>
        <form>
            <div class="row">
                <div class="form-group col-12">
                    <label for="code">{{ _('login.resume-code-input-label') }}</label>
                    <input type="text" class="form-control" id="code"
                        placeholder="{{ _('login.resume-code-input-placeholder') }}">
                </div>
            </div>
            <div class="alert alert-success" role="alert" id="code-success" style="display: none;">
                <h5>{{ _('login.resume-code-success-title') }}</h5>
                <p>{{ _('login.resume-code-success-text') }}</p>
            </div>
            <script>
                $(document).ready(function ($) {
                    $('#code').on('click', function (event) {
                        $(this).prop('value', "{{ _('login.resume-code-input-default') }}");
                        $('#code-success').show('fast');
                    })
                })
            </script>
        </form>
    </div>
    <div class="card col-md-5 mb-4 mx-4 px-4">
        <h5 class="py-3 font-weight-bolder">
            <img src="/static/icons/checklist.png" width="48px" alt="" class="pr-2" />
            {{_('login.resume-to-summary-title')}}
        </h5>
        <p>{{_('login.resume-to-summary-desc')}}</p>
        <a href="{{ url_for('lotse', step='start') }}"
            class="btn btn-outline-primary px-4 mb-4">{{_('login.resume-to-summary-button')}}</a>
    </div>
</div>

{% endblock %}