{% extends 'base_form_display.html' %}

{% block form_display_content %}
{% for section, section_data in sections_steps.items() -%}
{% set section_url, steps = section_data -%}
<div class="col-lg-10 mt-4">
  <div class="card">
    <div class="card-header d-sm-flex justify-content-between align-items-center">
      <h5 class="mb-0">{{ section.title }}</h5>
      <a class="btn btn-primary" href="{{section_url}}">{{ _('form.lotse.summary-button-edit')}}</a>
    </div>
    <div class="card-body">
      <ul class="list-unstyled mb-0">
        {%- for (step, step_url) in steps %}
        <li class="mt-2">{{ step.title }}</li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
{% endfor -%}
{% endblock %}