{% extends 'base_form.html' %}
{% import "macros.html" as macros %}

{% block app_content %}
{{ macros.form_header(render_info) }}

<form class="" method="POST" action="{{ render_info.submit_url }}">
  <h5 class="my-3">{{ _('form.lotse.person-header-allgemein') }}</h5>
  <div class="row">
    {{ macros.render_field_cols(form.person_a_idnr, 6) }}
    {{ macros.render_field_cols(form.person_a_dob, 6) }}
  </div>
  <div class="row">
    {{ macros.render_field_cols(form.person_a_first_name, 6) }}
    {{ macros.render_field_cols(form.person_a_last_name, 6) }}
  </div>

  <h5 class="my-3">{{ _('form.lotse.person-header-addresse') }}</h5>
  <div class="row">
    {{ macros.render_field_cols(form.person_a_street, 6) }}
    {{ macros.render_field_cols(form.person_a_street_number, 2) }}
    {{ macros.render_field_cols(form.person_a_street_number_ext, 2) }}
  </div>
  <div class="row">
    {{ macros.render_field_cols(form.person_a_address_ext, 6) }}
  </div>
  <div class="row">
    {{ macros.render_field_cols(form.person_a_plz, 6) }}
    {{ macros.render_field_cols(form.person_a_town, 6) }}
  </div>

  <h5 class="my-3">{{ _('form.lotse.person-header-religion') }}</h5>
  <div class="row">
    {{ macros.render_field_cols(form.person_a_religion, 6, class=" custom-select") }}
  </div>

  <h5 class="my-3">{{ _('form.lotse.person-header-beh') }}</h5>
  <div class="row">
    {{ macros.render_field_cols(form.person_a_beh_grad, 4) }}
    <div class="col-md-4 mb-3">
      {{ form.person_a_blind.label}}
      <div class="d-block">
        {{ form.person_a_blind(class="form-control") }}
      </div>
      {{ macros.field_errors(form.person_a_blind)}}
    </div>
  </div>

  {{ macros.form_nav_buttons(render_info) }}
</form>
{% endblock %}