{% extends 'base_form.html' %}
{% import "macros.html" as macros %}

{% block app_content %}
{{ macros.form_header(render_info, hide_intro=True) }}

<div class="row">
  <img src="{{ url_for('static', filename='images/infographic_edaten.png')}}" class="col-lg-6" alt="Infografik eDaten"/>
  <p class="col-lg-6 mt-lg-5">{{_('form.lotse.declaration-edaten-intro')}}</p>
</div>

<form class="" method="POST" action="{{ render_info.submit_url }}">

  {{ macros.confirmation_field(form.declaration_edaten)}}
  {{ macros.field_errors(form.declaration_edaten)}}

  <small>{{ _('form.lotse.declaration-edaten-footer') }}</small>

  {{ macros.form_nav_buttons(render_info) }}
</form>
{% endblock %}