{% extends 'base_form.html' %}
{% import "macros.html" as macros %}

{% block app_content %}
{{ macros.form_header(render_info) }}

<form class="" method="POST" action="{{ render_info.submit_url }}">
  {{ macros.confirmation_field(form.confirm_complete_correct)}}
  {{ macros.field_errors(form.confirm_complete_correct)}}

  {{ macros.confirmation_field(form.confirm_send)}}
  {{ macros.field_errors(form.confirm_send)}}

  <small>{{ _('form.lotse.confirmation-footer') }}</small>
  
  {{ macros.form_nav_buttons(render_info) }}
</form>
{% endblock %}