{% extends 'basis/base_content.html' %}

{% block content_content %}
    <div class="section-intro mb-5">
        <h1 class="my-4">{{ _('about_steuerlotse.headline') }}</h1>
        <p class="mb-5">{{ _('about_steuerlotse.intro') }}</p>
        <hr>
    </div>
    <div class="mt-5 pb-3">
        <h2 class="mt-3 pb-1">{{ _('about_digitalservice.development-headline') }}</h2>
        <p class="mt-3 pb-2">{{ _('about_digitalservice.user-centricity-text') }}</p>
        <p class="mt-3 pb-2">{{ _('about_digitalservice.usability-text') }}</p>
    </div>
    <div class="mt-4 pb-3">
        <h2 class="mt-3 pb-1">{{ _('about_digitalservice.connection-headline') }}</h2>
        <p class="mt-3 pb-2">{{ _('about_digitalservice.connection-text') }}</p>
    </div>
    <div class="mt-4 pb-3">
        <h2 class="mt-3 pb-1">{{ _('about_digitalservice.security-headline') }}</h2>
        <p class="mt-3 pb-2">{{ _('about_digitalservice.security-text') }}</p>
    </div>
    <div class="mt-4 pb-3">
        <h2 class="mt-3 pb-1">{{ _('about_digitalservice.further-development-headline') }}</h2>
        <p class="mt-3 pb-2">{{ _('about_digitalservice.further-development-text') }}</p>
    </div>
    <div class="mt-5 pb-5">
        <h2 class="mt-3 pb-1">{{ _('about_digitalservice.creation-headline') }}</h2>
        <p class="mt-3 pb-2">{{ _('about_digitalservice.creation-text') }}</p>
    </div>
{% endblock %}
