{% extends 'basis/base_content.html' %}

{% block content_content %}
    <div class="section-intro mb-5">
        <h1 class="my-4">{{ _('agb.heading') }}</h1>
    </div>
    <div class="mt-5 pb-3">
        <h2 class="mb-4">{{ _('agb.preambel-headline') }}</h2>
        <p class="mb-4">{{ _('agb.preambel-p1') }}</p>
        <p class="mb-4">{{ _('agb.preambel-p2') }}</p>
        <p class="mb-4">{{ _('agb.preambel-p3') }}</p>
    </div>
    <div class="mt-5 pb-3">
        <h2 class="mb-4">{{ _('agb.leistungen-headline') }}</h2>
        <p class="mb-2">{{ _('agb.leistungen-p1') }}</p>
        <p class="mb-2">{{ _('agb.leistungen-p2') }}</p>
        <h5 class="mt-5 mb-3">{{ _('agb.programmumfang-headline') }}</h5>
        <p class="mb-2">{{ _('agb.programmumfang-p1') }}</p>

        <ul class="form-list">
            <li class="mt-2 mb-1">{{ _('agb.programmumfang-list-1') }}</li>
            <li class="mt-2 mb-1">{{ _('agb.programmumfang-list-2') }}</li>
            <li class="mt-2 mb-1">{{ _('agb.programmumfang-list-3') }}</li>
        </ul>
        <p class="mt-4 mb-5">{{ _('agb.programmumfang-p2', link=url_for('eligibility', step='start'))}}</p>

        <p class="mt-5 mb-2">{{ _('agb.leistungen-p4') }}</p>
        <h4 class="mt-5 mb-1">{{ _('agb.vorpruefung-headline') }}</h4>
        <p class="mb-2">{{ _('agb.vorpruefung-p1', link=url_for('eligibility', step='start'))}}</p>

        <h4 class="mt-5 mb-1">{{ _('agb.registrierung-headline') }}</h4>
        <p class="mb-2">{{ _('agb.registrierung-p1') }}</p>
        <p class="mb-2">{{ _('agb.registrierung-p2') }}</p>
        <p class="mb-2">{{ _('agb.registrierung-p3') }}</p>

        <h4 class="mt-5 mb-1">{{ _('agb.steuererklärung-headline') }}</h4>
        <p class="mb-2">{{ _('agb.steuererklärung-p1') }}</p>
        <p class="mb-2">{{ _('agb.steuererklärung-p2') }}</p>
        <p class="mb-2">{{ _('agb.steuererklärung-p3') }}</p>
        <p class="mb-2">{{ _('agb.steuererklärung-p4') }}</p>
        <p class="mt-5 mb-2">{{ _('agb.steuererklärung-p5') }}</p>
        <ul class="form-list">
            <li class="mt-3 mb-1">{{ _('agb.umfang-list-1') }}</li>
            <li class="mt-3 mb-1">{{ _('agb.umfang-list-2') }}</li>
            <li class="mt-3 mb-1">{{ _('agb.umfang-list-3') }}</li>
            <li class="mt-3 mb-1">{{ _('agb.umfang-list-4') }}</li>
            <li class="mt-3 mb-1">{{ _('agb.umfang-list-5') }}</li>
            <li class="mt-3 mb-1">{{ _('agb.umfang-list-6') }}</li>
            <li class="mt-3 mb-1">{{ _('agb.umfang-list-7') }}</li>
            <li class="mt-3 mb-5">{{ _('agb.umfang-list-8') }}</li>
        </ul>
        <p class="mb-2">{{ _('agb.steuererklärung-p6') }}</p>
        <p class="mb-2">{{ _('agb.steuererklärung-p7') }}</p>
        <p class="mb-2">{{ _('agb.steuererklärung-p8') }}</p>

    </div>
    <div class="mt-5 pb-3">
        <h3 class="mt-5 mb-3">{{ _('agb.auftragsverhältnis-headline') }}</h3>
        <p class="mb-2">{{ _('agb.auftragsverhältnis-p1') }}</p>
        <p class="mb-2">{{ _('agb.auftragsverhältnis-p2') }}</p>
        <p class="mb-2">{{ _('agb.auftragsverhältnis-p3') }}</p>
        <p class="mb-2">{{ _('agb.auftragsverhältnis-p4') }}</p>
        <p class="mb-2">{{ _('agb.auftragsverhältnis-p5') }}</p>

    </div>
    <div class="mt-5 pb-3">
        <h3 class="mt-5 mb-3">{{ _('agb.urheberrechtsschutz-headline') }}</h3>
        <p class="mb-2">{{ _('agb.urheberrechtsschutz-p1') }}</p>
        <p class="mb-2">{{ _('agb.urheberrechtsschutz-p2') }}</p>
        <p class="ml-5 mb-2">{{ _('agb.urheberrechtsschutz-p3') }}</p>
        <p class="ml-5 mb-2">{{ _('agb.urheberrechtsschutz-p4') }}</p>
        <p class="mb-2">{{ _('agb.urheberrechtsschutz-p5') }}</p>
    </div>
    <div class="mt-5 pb-3">
        <h3 class="mt-5 mb-3">{{ _('agb.datenschutz-headline') }}</h3>
        <p class="mb-2">{{ _('agb.datenschutz-p1', link=url_for('data_privacy')) }}</p>
    </div>
    <div class="mt-5 pb-3">
        <h3 class="mt-5 mb-3">{{ _('agb.pflichten-headline') }}</h3>
        <p class="mb-2">{{ _('agb.pflichten-p1') }}</p>
        <p class="mb-2">{{ _('agb.pflichten-p2') }}</p>
        <p class="mb-2">{{ _('agb.pflichten-p3') }}</p>
        <p class="mb-2">{{ _('agb.pflichten-p4') }}</p>
        <p class="mb-2">{{ _('agb.pflichten-p5') }}</p>
        <p class="mb-2">{{ _('agb.pflichten-p6') }}</p>
        <p class="mb-2">{{ _('agb.pflichten-p7') }}</p>
        <p class="mb-2">{{ _('agb.pflichten-p8') }}</p>
    </div>
    <div class="mt-5 pb-3">
        <h3 class="mt-5 mb-3">{{ _('agb.haftung-headline') }}</h3>
        <p class="mb-2">{{ _('agb.haftung-p1') }}</p>
        <p class="ml-5 mb-2">{{ _('agb.haftung-p2') }}</p>

        <p class="ml-5 mb-2">{{ _('agb.haftung-p3') }}</p>
        <p class="ml-5 mb-2">{{ _('agb.haftung-p4') }}</p>
        <p class="ml-5 mb-2">{{ _('agb.haftung-p5') }}</p>
    </div>
    <div class="mt-5 pb-3">
        <h3 class="mt-5 mb-3">{{ _('agb.widerrufsrecht-headline') }}</h3>
        <p class="mb-2">{{ _('agb.widerrufsrecht-p1') }}</p>
    </div>
    <div class="mt-5 pb-3">
        <h3 class="mt-5 mb-3">{{ _('agb.laufzeit-headline') }}</h3>
        <p class="mb-2">{{ _('agb.laufzeit-p1') }}</p>
        <p class="mb-2">{{ _('agb.laufzeit-p2') }}</p>
        <p class="mb-2">{{ _('agb.laufzeit-p3') }}</p>
    </div>
    <div class="mt-5 pb-3">
        <h3 class="mt-5 mb-3">{{ _('agb.schlussbestimmungen-headline') }}</h3>
        <p class="mb-2">{{ _('agb.schlussbestimmungen-p1') }}</p>
        <p class="mb-2">{{ _('agb.schlussbestimmungen-p2') }}</p>
    <ul class="form-list">
        <li class="mb-2">{{ _('agb.schlussbestimmungen-p3') }}</li>
        <li class="mb-2">{{ _('agb.schlussbestimmungen-p4') }}</li>
        <li class="mb-2">{{ _('agb.schlussbestimmungen-p5') }}
        <p class="mb-2">{{ _('agb.schlussbestimmungen-p6') }}</p>
        <p class="mb-2">{{ _('agb.schlussbestimmungen-p7') }}</p>
        <p class="mb-2">{{ _('agb.schlussbestimmungen-p8') }}</p>
        <p class="mb-2">{{ _('agb.schlussbestimmungen-p9') }}</p>
        </li>
     </ul>
        <p class="mb-2">{{ _('agb.schlussbestimmungen-p10') }}</p>
        <p class="mb-2">{{ _('agb.schlussbestimmungen-p11') }}</p>
    </div>
{% endblock %}
