{% extends 'basis/base_content.html' %}

{% block content_content %}
    <div class="section-intro mb-5">
        <h1 class="my-4">{{ _('accessibility.headline') }}</h1>
        <p class="mb-5">{{ _('accessibility.intro') }}</p>
        <hr>
    </div>
    <div class="mt-5 pb-1">
        <h2 class="mt-3 pb-2">{{ _('accessibility.service-headline') }}</h2>
        <p class="mt-3 pb-2">{{ _('accessibility.service-text') }}</p>
    </div>
    <div class="mt-5 pb-1">
        <h2 class="pb-2">{{ _('accessibility.not-accessibile-headline') }}</h2>
        <ul class="form-list">
            <li>{{ _('accessibility.list-item-1') }}</li>
            <li>{{ _('accessibility.list-item-2') }}</li>
            <li>{{ _('accessibility.list-item-3') }}</li>
        </ul>
    </div>
    <div class="mt-5 pb-1">
        <h2>{{ _('accessibility.contact-headline') }}</h2>
        <p class="mt-3 pb-3">{{ _('accessibility.contact-text') }}</p>
        <h3 class="mt-4 pb-2 h4">{{ _('accessibility.conciliation-headline') }}</h3>
        <p class="mt-3 pb-2">{{ _('accessibility.conciliation-text-p1') }}</p>
        <p class="mt-3 pb-2">{{ _('accessibility.conciliation-text-p2') }}</p>
        <p class="mt-3 pb-2">{{ _('accessibility.conciliation-text-p3') }}</p>
        <p class="mt-3 pb-2">{{ _('accessibility.conciliation-text-p4') }}</p>
        <p class="mt-3 pb-2">{{ _('accessibility.conciliation-text-p5') }}</p>
        <p class="mt-3 pb-2">{{ _('accessibility.conciliation-text-p6') }}</p>
    </div>
{% endblock %}
