{% extends 'basis/base_content.html' %}

{% block content_content %}
    <div class="section-intro">
        <h1 class="my-4">{{ _('contact.heading') }}</h1>
    </div>

    <div class="mb-5">
        <h2 class="h3">{{ _('contact.service-headline') }}</h2>
        <p class="mt-2">{{ _('contact.service-infopage', link=url_for('howitworks')) }}</p>
        <p>{{ _('contact.service-mail') }}</p>
        <p>{{ _('contact.service-legal') }}</p>
    </div>

    <div class="mt-5 mb-5">
        <h2 class="h3">{{ _('contact.feedback-headline') }}</h2>
        <p class="mt-2">{{ _('contact.feedback-text') }}</p>
    </div>

    <div class="mt-5 mb-5">
        <h2 class="h3">{{ _('contact.security-headline') }}</h2>
        <p class="mt-2">{{ _('contact.security-text') }}</p>
    </div>
{% endblock %}
