{% extends 'basis/base_content.html' %}
{% import "components.html" as components %}
{% import "macros.html" as macros %}

{% set accordeon_stl = {
    'id': 'about_stl',
    'heading': _('info.heading-steuerlotse'),
    'intro': _('info.intro-steuerlotse'),
    'entries':{
        'who': {
            'heading': _('info-stl.card-who.heading'),
            'paragraphs': [
                (_('info-stl.card-who.p1-content')),
                (_('info-stl.card-who.p2-content')),
                (_('info-stl.card-who.p3-content', link=url_for('eligibility', step='start'))),
            ],
            'list-items': None,
        },
        'process': {
            'heading': _('info-stl.card-process.heading'),
            'paragraphs': [
                (_('info-stl.card-process.p1-content')),
            ],
            'list-items': [
                _('info-stl.card-process.list-item-1', link=url_for('eligibility', step='start')),
                _('info-stl.card-process.list-item-2', link=url_for('unlock_code_request', step='start')),
                _('info-stl.card-process.list-item-3'),
                _('info-stl.card-process.list-item-4', link=url_for('unlock_code_activation', step='start')),
            ],
        },
        'submission': {
            'heading': _('info-stl.card-submission.heading'),
            'paragraphs': [
                (_('info-stl.card-submission.p1-content')),
                (_('info-stl.card-submission.p2-content')),
                (_('info-stl.card-submission.p3-content')),
            ],
            'list-items': None,
        },
        'steuerminderung': {
            'heading': _('info-stl.card-steuerminderung.heading'),
            'paragraphs': [
                (_('info-stl.card-steuerminderung.p1-content')),
                (_('info-stl.card-steuerminderung.p2-content')),
                (_('info-stl.card-steuerminderung.p3-content', link=url_for('download_preparation'))),
            ],
            'list-items': None,
        },
        'partner': {
            'heading': _('info-stl.card-partner.heading'),
            'paragraphs': [
                (_('info-stl.card-partner.p1-content')),
            ],
            'list-items': None,
        },
        'elster': {
            'heading': _('info-stl.elster.heading'),
            'paragraphs': [
                (_('info-stl.elster.p1-content')),
                (_('info-stl.elster.p2-content')),
                (_('info-stl.elster.p3-content')),
            ],
            'list-items': None,
        },
    }} %}

{% set accordeon_preparation = {
    'id': 'about_preparation',
    'heading': _('info.heading-prepare'),
    'intro': _('info.intro-prepare', link=url_for('download_preparation')),
    'entries':{
        'prep-mandatory': {
            'heading': _('info-prep.card-mandatory.heading'),
            'paragraphs': [
                (_('info-prep.card-mandatory.p1-content')),
            ],
            'list-items': [
                _('info-prep.card-mandatory.list-item-1'),
                _('info-prep.card-mandatory.list-item-2'),
                _('info-prep.card-mandatory.list-item-3'),
                _('info-prep.card-mandatory.list-item-4'),
                _('info-prep.card-mandatory.list-item-5'),
                _('info-prep.card-mandatory.list-item-6'),
            ],
        },
        'prep-optional': {
            'heading': _('info-prep.card-otional.heading'),
            'paragraphs': [
                (_('info-prep.card-optional.p1-content', link=url_for('download_preparation'))),
            ],
            'list-items': None,
        },
        'prep-receipts': {
            'heading': _('info-prep.card-receipts.heading'),
            'paragraphs': [
                (_('info-prep.card-receipts.p1-content')),
            ],
            'list-items': None,
        },
    }} %}

{% set accordeon_fsc = {
    'id': 'about_fsc',
    'heading': _('info.heading-fsc'),
    'intro': _('info.intro-fsc'),
    'entries':{
        'fsc-how': {
            'heading': _('info-fsc.card-how.heading'),
            'paragraphs': [
                (_('info-fsc.card-how.p1-content')),
            ],
            'list-items': None,
        },
        'fsc-other': {
            'heading': _('info-fsc.card-other.heading'),
            'paragraphs': [
                (_('info-fsc.card-other.p1-content')),
            ],
            'list-items': None,
        },
        'fsc-received': {
            'heading': _('info-fsc.received.heading'),
            'paragraphs': [
                (_('info-fsc.card-received.p1-content')),
                (_('info-fsc.card-received.p2-content', link=url_for('unlock_code_revocation', step='start'))),
            ],
            'list-items': None,
        },
        'fsc-lost': {
            'heading': _('info-fsc.lost.heading'),
            'paragraphs': [
                (_('info-fsc.card-lost.p1-content', link=url_for('unlock_code_revocation', step='start'))),
            ],
            'list-items': None,
        },

        'fsc-validity': {
            'heading': _('info-fsc.validity.heading'),
            'paragraphs': [
                (_('info-fsc.validity.p1-content')),
            ],
            'list-items': None,
        },
    }} %}

{% set accordeon_edaten = {
    'id': 'about_edaten',
    'heading': _('info.heading-edaten'),
    'intro': _('info.intro-edaten'),
    'entries':{
        'takeover': {
            'heading': _('info.card-takeover.heading'),
            'paragraphs': [
                (_('info.card-takeover.p1-content')),
                (_('info.card-takeover.p2-content')),
                (_('info.card-takeover.p3-content')),
            ],
            'list-items': None,
        },
        'seven': {
            'heading': _('info.card-advantage.heading'),
            'paragraphs': [
                (_('info.card-advantage.p1-content')),
                (_('info.card-advantage.p2-content')),
                (_('info.card-advantage.p3-content')),
            ],
            'list-items': None,
        },
        'edaten-control': {
            'heading': _('info.edaten.control.heading'),
            'paragraphs': [
                (_('info.edaten.control-content1')),
                (_('info.edaten.control-content2')),

            ],
            'list-items': None,
        },
    }} %}

{% set accordeon_security = {
    'id': 'about_security',
    'heading': _('info.heading-data-protection'),
    'intro': _('info.intro-data-protection'),
    'entries':{
        'security-transfer': {
            'heading': _('info-security.transfer.heading'),
            'paragraphs': [
                (_('info-security.transfer.p1-content')),
            ],
            'list-items': None,
        },
        'security_processing': {
            'heading': _('info-security.card-processing.heading'),
            'paragraphs': [
                (_('info-security.card-processing.p1-content')),
            ],
            'list-items': None,
        },
    }} %}

{% set accordeons = [accordeon_stl, accordeon_preparation, accordeon_fsc, accordeon_edaten, accordeon_security] %}

{% block content_content %}
    {{ macros.header(title=_('info.heading'),
                    intro= _('info.intro')) }}
    <nav class="part-navigation-container mt-5 pb-4" aria-label="Pages in this guide" role="navigation">
        <h2>{{ _('info.heading-content') }}</h2>
        <ol class="gem-c-contents-list__list">
            {% for accordeon in accordeons %}
                <li><a href="#{{ accordeon.id }}">{{ _(accordeon.heading) }}</a></li>
            {% endfor %}
        </ol>
    </nav>
    <hr>


    {% for accordeon in accordeons %}
        {{ components.accordion(accordeon, heading_level=2) }}
    {% endfor %}
{% endblock %}
{% block full_width_final_area %}
    <div class="landing__section pb-0 g-0">
        <div class="main-content landing__grid">
            {{ components.teaserCard(url_for('eligibility', step='start'),
                                _('info.teaser.eligibility.title'),
                                _('info.teaser.eligibility.description'),
                                img_url=static_url_for('static', filename='icons/arrow_left.svg'),
                                direction='left', heading_level=2) }}
            {{ components.teaserCard(url_for('unlock_code_request', step='start'),
                                _('info.teaser.register.title'),
                                _('info.teaser.register.description'),
                                img_url=static_url_for('static', filename='icons/arrow_left.svg'),
                                direction='middle', heading_level=2) }}
        </div>
    </div>
{% endblock %}
