{% extends 'basis/base_content.html' %}
{% import "macros.html" as macros %}

{% block content_content %}
    {{ macros.header(title=_('imprint.heading'),
                 hide_intro=True) }}
    <div>
        <h2 class="pb-1">{{ _('imprint.law-headline') }}</h2>
        <p>{{ _('imprint.operator-text-p1') }}</p>
        <p>{{ _('imprint.ceo-text') }}</p>
        <p>{{ _('imprint.alleingesellschafterin-text') }}</p>
        <p>{{ _('imprint.operator-text-p2') }}</p>
        <h3 class="mt-5 pb-1">{{ _('imprint.contact-headline') }}</h3>
        <p>{{ _('imprint.contact-text-p1') }}</p>
        <p>{{ _('imprint.contact-text-p2') }}</p>
        <h3 class="mt-5 pb-1">{{ _('imprint.dispute-headline') }}</h3>
        <p>{{ _('imprint.dispute-text') }}</p>
        <h3 class="mt-5 pb-1">{{ _('imprint.liability-content-headline') }}</h3>
        <p>{{ _('imprint.liability-content-text-2') }}</p>
        <p>{{ _('imprint.liability-content-text-1') }}</p>
        <h3 class="mt-5 pb-1">{{ _('imprint.liability-links-headline') }}</h3>
        <p>{{ _('imprint.liability-links-text-p1') }}</p>
        <p>{{ _('imprint.liability-links-text-p2') }}</p>
        <h3 class="mt-5 pb-1">{{ _('imprint.copyright-headline') }}</h3>
        <p>{{ _('imprint.copyright-text-1') }}</p>
        <p>{{ _('imprint.copyright-text-2') }}</p>
        <h3 class="mt-5 pb-1">{{ _('imprint.responsible-headline') }}</h3>
        <p>{{ _('imprint.responsible-text') }}</p>
    </div>
{% endblock %}
