{% extends 'basis/base.html' %}
{% import "components.html" as components %}

{% set accordeon_home = {
    'id': 'accordeon_home',
    'heading': _('info.heading-accordeon-home'),
    'entries':{
        'who': {
            'heading': _('info-stl.card-who.heading'),
            'paragraphs': [
                (_('info-stl.card-who.p1-content')),
                (_('info-stl.card-who.p2-content')),
                (_('info-stl.card-who.p3-content', link=url_for('eligibility', step='start'))),
            ],
            'list-items': None,
        },
        'process': {
            'heading': _('info-stl.card-process.heading'),
            'paragraphs': [
                (_('info-stl.card-process.p1-content')),
            ],
            'list-items': [
                _('info-stl.card-process.list-item-1', link=url_for('eligibility', step='start')),
                _('info-stl.card-process.list-item-2', link=url_for('unlock_code_request', step='start')),
                _('info-stl.card-process.list-item-3'),
                _('info-stl.card-process.list-item-4', link=url_for('unlock_code_activation', step='start')),
            ],
        },
        'submission': {
            'heading': _('info-stl.card-submission.heading'),
            'paragraphs': [
                (_('info-stl.card-submission.p1-content')),
                (_('info-stl.card-submission.p2-content')),
                (_('info-stl.card-submission.p3-content')),
            ],
            'list-items': None,
        },
        'steuerminderung': {
            'heading': _('info-stl.card-steuerminderung.heading'),
            'paragraphs': [
                (_('info-stl.card-steuerminderung.p1-content')),
                (_('info-stl.card-steuerminderung.p2-content')),
                (_('info-stl.card-steuerminderung.p3-content', link=url_for('download_preparation'))),
            ],
            'list-items': None,
        },
    }} %}

{% set accordeons = [accordeon_home] %}


{% block main_content %}
    <div class="main-content-home">
        <div class="container-fluid p-0">
            <div class="hero">
                <div class="row hero__inner">
                    <div class="hero__inner_headline">
                        <h1 class="pb-1">{{ _('landing.hero-title') }}</h1>
                        <p class="mt-5">{{ _('landing.hero-desc') }}</p>
                        <ul class="form-list mt-4">
                            <li class="mt-1">{{ _('landing.hero-list-item-1') }}</li>
                            <li class="mt-1">{{ _('landing.hero-list-item-2') }}</li>
                            <li class="mt-1">{{ _('landing.hero-list-item-3') }}</li>
                        </ul>
                    </div>
                        <div class="hero__inner_image">
                            <picture>
                               <source
                                  media="(min-width: 1024px)"
                                  srcset="/static/images/hero-image-big.png">
                               <source
                                  media="(min-width: 320px)"
                                  srcset="static/images/hero-image-small.png">
                               <img
                               alt="{{_('landing.hero-image.alt-text')}}">
                            </picture>
                        </div>
                </div>
            </div>
        </div>
        <div class="landing__section pb-0 g-0">
            <div class="landing__grid">
                {{ components.teaserCard(
                    url=url_for('eligibility', step='start'),
                    title= _('landing.card1.title'),
                    description=_('landing.card1.desc'),
                    img_url=url_for('static', filename='icons/arrow_left.svg'),
                    direction="left")
                }}

                {{ components.teaserCard(
                    url=url_for('unlock_code_request', step='start'),
                    title= _('landing.card2.title'),
                    description=_('landing.card2.desc'),
                    img_url=url_for('static', filename='icons/arrow_left.svg'),
                    direction="middle")
                }}

                {{ components.teaserCard(
                    url=url_for('unlock_code_activation', step='start'),
                    title= _('landing.card3.title'),
                    description=_('landing.card3.desc'),
                    img_url=url_for('static', filename='icons/arrow_left.svg'),
                    direction="right")
                }}
            </div>
        </div>
        <div class="accordion__home col-lg-8 col-md-8 pb-0 g-0">
            {% for accordeon in accordeons %}
                {{ components.accordion(accordeon) }}
            {% endfor %}
            {{ components.primaryButton(text="Zur Informationsseite", url=url_for('howitworks')) }}
        </div>
        <div class="interview__home col-lg-9 col-md-8 row p-0 g-0">
            <div class="interview__home__img col-lg-6">
            </div>
            <div class="interview__home__text col-lg-6">
                <h3 class="mb-4">{{ _('landing.interviews-headline') }}</h3>
                <p class="mb-4">{{ _('landing.interviews-text') }}</p>
                <a href="{{ url_for('interviews') }}">{{ _('landing.interviews-link') }}</a>
            </div>
        </div>
    </div>
{% endblock %}