[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.1"
fastapi = "~=0.68.1"
freezegun = "*"
pydantic = "~=1.8.2"
pytest = "==6.2.5"
uvicorn = "~=0.15.0"
babel = "*"
python-dotenv = "*"
prometheus-fastapi-instrumentator = "*"
python-json-logger = "*"
boto3 = "*"
aiofiles = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
invoke = "*"

[requires]
python_version = "3.9"
