{% extends 'basis/form_full_width.html' %}
{% import "macros.html" as macros %}
{% import "components.html" as components %}

{% block form_content %}
    <fieldset class="grouped-input-fields">
        <span>
            <legend class="mb-0">
                <h2 class="form-sub-heading">{{ _('form.lotse.person-header-allgemein') }}</h2>
            </legend>
        </span>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_first_name, first_field=True if not render_info.form.errors) }}
        </div>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_last_name) }}
        </div>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_dob) }}
        </div>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_idnr) }}
        </div>
    </fieldset>

    <fieldset class="grouped-input-fields">
        <span>
            <legend class="mb-3">
                <h2 class="form-sub-heading">{{ _('form.lotse.person-header-addresse') }}</h2>
            </legend>
        </span>
        {{ macros.render_field(form.person_b_same_address, 10, class='w-100') }}

        <div id="form_address_fields" class="grouped-input-fields">
            <div class="form-row-center">
                {{ macros.render_field(form.person_b_street) }}
                {{ macros.render_field(form.person_b_street_number, 2) }}
                {{ macros.render_field(form.person_b_street_number_ext, 2, field_div_classes='text-nowrap', optional=True) }}
            </div>
            <div class="form-row-center">
                {{ macros.render_field(form.person_b_address_ext, optional=True) }}
            </div>
            <div class="form-row-center">
                {{ macros.render_field(form.person_b_plz, 2) }}
                {{ macros.render_field(form.person_b_town) }}
            </div>
        </div>
    </fieldset>

    <fieldset class="grouped-input-fields">
        <span>
            <legend class="mb-0">
                <h2 class="form-sub-heading">{{ _('form.lotse.person-header-religion') }}</h2>
            </legend>
        </span>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_religion, 6) }}
        </div>
    </fieldset>

    <fieldset class="grouped-input-fields">
        <span>
            <legend class="mb-0">
                <h2 class="form-sub-heading mb-3">{{ _('form.lotse.person-header-beh') }}</h2>
            </legend>
        </span>
        <p>{{ _('form.lotse.person-header-beh-intro') }}</p>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_beh_grad, 4) }}
        </div>
        <div class="form-row-center w-100">
            <span class="text-input-field-label w-100 mb-1">{{ _('form.lotse.person-merkzeichen.title') }}</span>
            {{ macros.render_field(form.person_b_blind, 12, d_block=True, hide_label=True) }}
            {{ macros.render_field(form.person_b_gehbeh, 12, d_block=True, hide_label=True) }}
        </div>
    </fieldset>

{% endblock %}

{% block optional_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/field_utils.js') }}" type=text/javascript></script>
    <script>
        function show_hide_address_field() {
            if (document.querySelector("input[name$='person_b_same_address'][value='no']").checked) {
                showRequiredInput(document.getElementById('person_b_street'));
                showRequiredInput(document.getElementById('person_b_street_number'));
                showRequiredInput(document.getElementById('person_b_street_number_ext'));
                showRequiredInput(document.getElementById('person_b_address_ext'));
                showRequiredInput(document.getElementById('person_b_plz'));
                showRequiredInput(document.getElementById('person_b_town'));
            } else {
                hideRequiredInput(document.getElementById('person_b_street'));
                hideRequiredInput(document.getElementById('person_b_street_number'));
                hideRequiredInput(document.getElementById('person_b_street_number_ext'));
                hideRequiredInput(document.getElementById('person_b_address_ext'));
                hideRequiredInput(document.getElementById('person_b_plz'));
                hideRequiredInput(document.getElementById('person_b_town'));
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            assignAssociatedContent();
            show_hide_address_field();
            document.querySelectorAll("input[name$='person_b_same_address']").forEach((field)=>{
                field.addEventListener("click",show_hide_address_field);
            });
        });
    </script>
{% endblock %}
