{% extends 'basis/form_full_width.html' %}
{% import "macros.html" as macros %}
{% import "components.html" as components %}

{% block form_content %}
    <fieldset class="grouped-input-fields">
        <legend class="mb-0">
            <h2 class="form-sub-heading">{{ _('form.lotse.person-header-allgemein') }}</h2>
        </legend>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_first_name, first_field=True if not render_info.form.errors) }}
        </div>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_last_name) }}
        </div>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_dob) }}
        </div>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_idnr) }}
        </div>
    </fieldset>

    <fieldset class="grouped-input-fields">
        <legend class="mb-3">
            <h2 class="form-sub-heading">{{ _('form.lotse.person-header-addresse') }}</h2>
        </legend>
        {{ macros.render_field(form.person_b_same_address, 10, class='w-100') }}

        <div id="form_address_fields" class="grouped-input-fields hidden">
            <div class="form-row-center">
                {{ macros.render_field(form.person_b_street) }}
                {{ macros.render_field(form.person_b_street_number, 2) }}
                {{ macros.render_field(form.person_b_street_number_ext, 2, field_div_classes='text-nowrap', optional=True) }}
            </div>
            <div class="form-row-center">
                {{ macros.render_field(form.person_b_address_ext, optional=True) }}
            </div>
            <div class="form-row-center">
                {{ macros.render_field(form.person_b_plz, 3) }}
                {{ macros.render_field(form.person_b_town) }}
            </div>
        </div>
    </fieldset>

    <fieldset class="grouped-input-fields">
        <legend class="mb-0">
            <h2 class="form-sub-heading">{{ _('form.lotse.person-header-religion') }}</h2>
        </legend>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_religion, 6) }}
        </div>
    </fieldset>

    <fieldset class="grouped-input-fields">
        <legend class="mb-0">
            <h2 class="form-sub-heading mb-3">{{ _('form.lotse.person-header-beh') }}</h2>
        </legend>
        <p>{{ _('form.lotse.person-header-beh-intro') }}</p>
        <div class="form-row-center">
            {{ macros.render_field(form.person_b_beh_grad, 4) }}
        </div>
        <div class="form-row-center w-100">
            <span class="text-input-field-label w-100 mb-1">{{ _('form.lotse.person-merkzeichen.title') }}</span>
            {{ macros.render_field(form.person_b_blind, 12, d_block=True, hide_label=True) }}
            {{ macros.render_field(form.person_b_gehbeh, 12, d_block=True, hide_label=True) }}
        </div>
    </fieldset>

{% endblock %}

{% block optional_js %}
    {{ super() }}
    <script>
        function show_hide_address_field() {
            if ($("input[name$='person_b_same_address']:checked").val() === 'no') {
                $("#form_address_fields").show();
                $("#form_address_fields input[required_if_shown]").attr("required", true);
            } else {
                $("#form_address_fields").hide();
                $("#form_address_fields input:required").removeAttr("required");
            }
        }

        $(document).ready(show_hide_address_field);
        $("input[name$='person_b_same_address']").change(show_hide_address_field);
    </script>
{% endblock %}
