{% extends 'basis/form_standard.html' %}
{% import "macros.html" as macros %}
{% import "components.html" as components %}

{% block additional_stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_haushaltsnahe_handwerker.css') }}">
{% endblock %}

{% block step_intro %}
    {{ macros.form_header(render_info) }}
    {{ components.details(input_details_title, [input_details_text], list_items=details_list_items ,details_id="haushaltsnahe-handwerker-details") }}
{% endblock %}

{% block form_content %}
    <fieldset class="grouped-input-fields">
        <legend class="mb-0">
            <h2 class="form-sub-heading">{{ _('form.lotse.step_haushaltsnahe.label') }}</h2>
        </legend>
        <div class="form-row-center first-grouped-field">
            {{ macros.render_field(form.stmind_haushaltsnahe_entries, first_field=True if not render_info.form.errors) }}
        </div>
        <div class="form-row-center">
            {{ macros.render_field(form.stmind_haushaltsnahe_summe) }}
        </div>
    </fieldset>

    <fieldset class="grouped-input-fields">
        <legend class="mb-0">
            <h2 class="form-sub-heading-bigger">{{ _('form.lotse.step_handwerker.label') }}</h2>
        </legend>
        <div class="form-row-center first-grouped-field">
            {{ macros.render_field(form.stmind_handwerker_entries) }}
        </div>

        <div class="form-row-center">
            {{ macros.render_field(form.stmind_handwerker_summe) }}
        </div>

        <div class="form-row-center">
            {{ macros.render_field(form.stmind_handwerker_lohn_etc_summe) }}
        </div>
    </fieldset>

{% endblock %}

