{% extends 'basis/base_step_form.html' %}
{% import 'components.html' as components %}

{% block form_content %}
    <div class="form-row-center">
        {{ macros.render_field(form.dob, first_field=True if not render_info.form.errors) }}
    </div>
    <div class="form-row-center">
        {{ macros.render_field(form.idnr) }}
    </div>

    <h2 class="form-sub-heading-smaller">{{ _('unlock-code-request.data-privacy-and-agb.title') }}</h2>
    {{ macros.render_field(form.registration_confirm_data_privacy) }}
    {{ macros.render_field(form.registration_confirm_terms_of_service) }}
    {{ macros.render_field(form.registration_confirm_incomes) }}

    <h2 class="form-sub-heading-smaller">{{ _('unlock-code-request.edata.title') }}</h2>
    {{ components.details(_('unlock-code-request.e-data.help-title'), [_('unlock-code-request.e-data.help-text')], details_id=form.registration_confirm_e_data.id) }}
    {{ macros.render_field(form.registration_confirm_e_data) }}

{% endblock %}