{% extends 'basis/display_success.html' %}

{% block display_success_content %}
    <h2 class="mt-5">{{ _('register.success.next-steps.heading') }}</h2>
    <ol>
        <li>{{ _('register.success.next-steps.step-1') }}</li>
        <li>{{ _('register.success.next-steps.step-2', link=url_for('download_preparation')) }}</li>
        <li>{{ _('register.success.next-steps.step-3', link=url_for('index')) }}</li>
        <li>{{ _('register.success.next-steps.step-4', link=url_for('unlock_code_activation', step='start')) }}</li>
    </ol>

    <h2 class="mt-5">{{ _('register.success.letter.heading') }}</h2>
    <p>{{ _('register.success.letter.intro') }}</p>
    <img class="w-50"
         src="{{ url_for('static', filename='images/elster_letter_example.png') }}"
         alt="elster_letter">

    <h2 class="mt-5">{{ _('register.success.preparation.heading') }}</h2>
    <p>{{ _('register.success.preparation.intro') }}</p>
    <a class="btn btn-primary" href="{{ url_for('download_preparation') }}"
       download>{{ _('register.success.preparation.button') }}</a>
{% endblock %}