{% extends 'basis/form_standard.html' %}

{% block field_scripts %}
<script>
// Script to ease the input of users. They might be forgetting to input the '-'.
// This is just a convenience script to make the input easier
    $(document).ready(function ($) {
        $('#unlock_code').on('keyup', function (event) {
            let input = $(this).val();
            // only allow numbers and letters, no special characters
            input = input.replace(/[^\d^\w]+/g, "");

            // split the input into 4 char chunks because unlock code is represented like this on the letter of the user
            const chunk_length = 4;
            let chunks = [];
            for (let i = 0, len = input.length; i < len; i+=chunk_length) {
                if (i <= 8) {
                    chunks.push(input.substr(i, chunk_length).toUpperCase());
                }
            }

            // connect chunks with '-' because unlock code is represented like this on the letter of the user
            $(this).val(function () {
                return chunks.join("-");
            })
        })
    })
</script>
{% endblock %}
