{% extends 'basis/base_step_display.html' %}


{% block display_content %}
    <div class="section-intro">
        <div class="p-0">
            <div class="alert alert-success" role="alert">
                {% if title is defined %}
                    <h1 class="alert-heading">{{ title}}</h1>
                {% else %}
                    <h1 class="alert-heading">{{ render_info.step_title }}</h1>
                {% endif %}
            </div>
        </div>
    </div>


    {% if intro is defined %}
        {{ intro }}
    {% elif render_info.step_intro %}
        {{ render_info.step_intro }}
    {% endif %}

    {% block display_success_content %}
    {% endblock %}
{% endblock %}