{% extends 'basis/base_step_display.html' %}

{% block display_content %}
    <div class="section-intro">
        <div class="p-0">
            <div class="alert alert-danger" role="alert">
                {% if title is defined %}
                    <h1 class="alert-heading">{{ title}}</h1>
                {% else %}
                    <h1 class="alert-heading">{{ render_info.step_title }}</h1>
                {% endif %}
            </div>
        </div>
    </div>


    {% if intro is defined %}
        {{ intro }}
    {% elif render_info.step_intro %}
        {{ render_info.step_intro }}
    {% endif %}

    {% block errors %}
        {% if errors is defined %}
            <ul>
                {%- for error in errors[:-1] %}
                    <li>
                        {{ error }}
                    </li>
                {% endfor -%}
                {%- for error in errors[-1:] %}
                    <li>
                        {{ error }}
                    </li>
                {% endfor -%}
            </ul>
        {% endif %}
    {% endblock %}

    {% block display_failure_content %}
    {% endblock %}
{% endblock %}