<footer class="pt-4 pl-0 pr-0 ml-0 mr-0">
    <div class="container-fluid pt-4 pb-3 pl-0 pr-0">
        <div class="footer-inner">
            <div class="row m-0">
                <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
                    <span class="bold">{{ _('footer.help-contact') }}</span>
                    <ul class="list-unstyled">
                        <li class="text-nowrap mt-3">
                            <a href="{{ url_for('howitworks') }}">{{ _('footer.information') }}</a>
                        </li>
                        <li class="text-nowrap mt-2">
                            <a href="{{ url_for('contact') }}">{{ _('footer.contact') }}</a>
                        </li>
                        <li class="text-nowrap mt-2">
                            <a href="{{ url_for('unlock_code_revocation', step='start') }}">{{ _('footer.revocation') }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
                    <span class="bold">{{ _('footer.about-product') }}</span>
                    <ul class="list-unstyled">
                        <li class="text-nowrap mt-3">
                            <a href="{{ url_for('about_steuerlotse') }}">{{ _('footer.about-steuerlotse') }}</a>
                        </li>
                        <li class="text-nowrap mt-2">
                            <a href="{{ url_for('about_digitalservice') }}">{{ _('footer.about-ds') }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 offset-lg-1 offset-md-0 offset-sm-0 pb-4 mt-lg-0 mt-md-5 mt-xs-5 container">
                    <div class="row">
                        <div class="col-auto">
                            <a href="https://digitalservice4germany.com">
                                <img src="{{ url_for('static', filename='images/logo_ds4g.svg') }}" class="logo-ds4g mb-2" alt="{{ _('ds4g_logo') }}"/>
                            </a>
                        </div>
                        <div class="col about-stl">
                            {{ _('footer.about-steuerlotse-text') }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-footer">
        <div class="container-fluid">
            <div class="footer-inner">
                <div class="row">
                    <a href="{{ url_for('data_privacy') }}">{{ _('footer.data-privacy') }}</a>
                    <a href="{{ url_for('agb') }}">{{ _('footer.agb') }}</a>
                    <a href="{{ url_for('imprint') }}">{{ _('footer.impressum') }}</a>
                    <a href="{{ url_for('barrierefreiheit') }}">{{ _('footer.accessibility') }}</a>
                </div>
            </div>
        </div>
    </div>
</footer>
