{% import "macros.html" as macros %}

<div class="sidebar">
    <nav class="navbar navbar-expand-sm p-0 mt-n2">
        <div class="container">
            <div class="row">
                <div class="col-12 logo-wrapper">
                    <a href="{{ url_for('index') }}" aria-label="{{ _('overview') }}">
                        <img src="{{ url_for('static', filename='images/logo_steuerlotse.svg') }}" alt="{{ _('overview') }}" class="logo"/>
                    </a>
                </div>
                <div class="col-12">
                    {{ macros.nav_item_list(nav, current_user) }}
                </div>
            </div>
        </div>
    </nav>
    <div class="container bmf-info">
        <div class="row">
            <div class="col-12">
                <small>{{ _("sidebar.bmf.text") }}</small>
            </div>
            <div class="col-12">
                <a href="https://www.bundesfinanzministerium.de">
                    <img src="{{ url_for('static', filename='images/logo_bmf.svg') }}" alt="{{ _('bmf') }}" class="bmf-img"/>
                </a>
            </div>
        </div>
    </div>
</div>