{# TODO: Restructure and add comments for more clarity #}


{% macro primaryButton(text, url, float_right=False) -%}
      <a class="{% if  float_right %} float-right {% endif %} btn btn-primary" href="{{ url }}">{{ text }}</a>
{%- endmacro %}

{% macro primaryButtonWithIcon(text, url, icon, target) -%}
    <a class="btn btn-primary" href="{{ url}}" target="{{target | default('_blank', true)}}">{{ text }} {{icon}}</a>
{%- endmacro %}

{% macro overviewButton(text, url) -%}
    <a class="btn btn-outline-secondary" href="{{ url}}">{{ text }}</a>
{%- endmacro %}

{% macro editButton(url, text=_('form.lotse.summary-button-edit'), float_right=False) -%}
      <a class="{% if  float_right %} float-right {% endif %} edit-button" href="{{ url }}">{{ text }}</a>
{%- endmacro %}

{% macro backLink(text, url) -%}
      <a class='back-link' href="{{ url }}">
          <span class="back-link-element back-link-icon"></span>
          <span class="back-link-element">{{text}}</span>
      </a>
{%- endmacro %}

{% macro downloadLink(text, url, large=False) -%}
    {% if large %}
        <a href="{{ url }}" download class='download-link download-link-l'>
            <span class="download-link-icon download-link-l"></span>
            {{text}}
        </a>
    {% else %}
        <a href="{{ url }}" download class='download-link'>
            <span class="download-link-icon"></span>
            {{text}}
        </a>
    {% endif %}
{%- endmacro %}

{% macro render_detail(field) %}
    {%- set detail = field.render_kw['data-detail'] -%}
    {%- if detail %}
        {{ details(detail.title, [detail.text], details_id=field.id) }}
    {% endif %}
{% endmacro %}

{% macro checkbox(field, classes="", position_details_after=False, first_field=False) %}
    <div class="form-row checkbox">
        {{ _field(field, first_field=first_field) }}
        <label class="checkmark" for="{{ field.name }}"></label>
        {{ field_label(field, class="col-sm-10 col-form-label ml-3 pt-0", position_details_after=position_details_after) }}
    </div>
{% endmacro %}

{% macro consent_box(field, classes="", position_details_after=False, first_field=False) %}
    <div class="form-row checkbox consent-box col-lg-10">
        {{ _field(field, first_field=first_field) }}
        <label class="checkmark" for="{{ field.name }}"></label>
        {{ field_label(field, class="col-sm-10 col-form-label ml-3 pt-0", position_details_after=position_details_after) }}
    </div>
{% endmacro %}

{% macro radio_field(field, position_details_after=False, first_field=False) -%}
    <fieldset class="grouped-input-fields">
        {{ field_label(field, class="text-input-field-label", position_details_after=position_details_after) }}
        <div class="radio-button-list">
        {% for subfield in field %}
            <div>
                {% if field.errors and loop.index0==0 %}
                    {{ subfield(class="", autofocus=True) }}
                {% else %}
                    {{ subfield(class="") }}
                {% endif%}
                {{ field_label(subfield, class="col-sm-10 col-form-label", position_details_after=position_details_after) }}
            </div>
        {% endfor %}
        </div>
        {%- if position_details_after %}
            {{ render_detail(field) }}
        {% endif %}
        {{ field_errors(field) }}
    </fieldset>
{%- endmacro %}

{% macro yes_no_field(field, position_details_after=False, first_field=False) %}
    {{ field_label(field, class='text-input-field-label', position_details_after=position_details_after) }}
    {{ _field(field, first_field=first_field) }}
{% endmacro %}

{% macro separated_field(field, position_details_after=False, first_field=False) -%}
    <fieldset id="{{ field.id }}">
        {{ field_label(field, class="text-input-field-label", position_details_after=position_details_after) }}
        <div class="form-row-center separated-field">
            {{ _field(field, first_field=first_field) }}
        </div>
        {%- if position_details_after %}
            {{ render_detail(field) }}
        {% endif %}
        {{ field_errors(field) }}
    </fieldset>
{%- endmacro %}

{% macro field_label(field, class="", position_details_after=False, optional=False) %}
    {%- set label = field.label -%}
    {%- set help = field.render_kw['help'] -%}
    {%- set detail = field.render_kw['data-detail'] -%}
    {%- set example_input = field.render_kw['data-example-input'] -%}

    {% if field.type == 'RadioField' or field.type == 'LegacyIdNrField' or field.type == 'SteuerlotseDateField' %}
        {% if label.text %} {# Only show legend if there is a legend text to show #}
            <span>
                <legend class="{% if example_input %}field-label-example {% else %}field-label {% endif %} {{ class }}">{{ label.text }}
                    {% if optional %}<span class="optional-hint">{{ _('form.optional') }}</span>{% endif %}
                    {% if help %}{{ help_button(label.field_id) }}{% endif %}
                </legend>
            </span>
        {% endif %}
    {% else %}
        <label for="{{ label.field_id }}"
               class="{% if example_input %}field-label-example {% else %}field-label {% endif %} {{ class }}">{{ label.text }}
            {% if optional %}<span class="optional-hint">{{ _('form.optional') }}</span>{% endif %}
            {% if help %}{{ help_button(label.field_id) }}{% endif %}
        </label>
    {% endif %}
    {%- if help %}{{ help_dialog(label.field_id, label.text, help) }}{% endif %}
    {% if example_input %}
        <div class="example-input" for="{{ label.field_id }}">
            {{ example_input }}
        </div>
    {% endif %}
    {%- if detail and not position_details_after %}{{ details(detail.title, [detail.text], details_id=field.id) }}{% endif %}
{%- endmacro %}

{% macro field_errors(field) -%}
    {% for error in field.errors %}
        <div class="invalid-feedback d-block" for="{{ field.name }}" role="alert">
            <img class="invalid-feedback" src="{{ static_url_for('static', filename='icons/warning.svg') }}"
                 aria-label="{{ _('errors.warning-image.aria-label') }}"> {{ error }}
        </div>
    {% endfor %}
{%- endmacro %}

{% macro _field(field, first_field=False) %}
    {% if first_field or field.errors %}
        {{ field(autofocus=True) }}
    {% else %}
        {{ field() }}
    {% endif%}
{% endmacro %}


{% macro accordion(accordion, heading_level=3) %}
    <div id="{{ accordion.id }}" class="accordion mt-5 pb-5">
        <h{{ heading_level }} class="mt-5">{{ accordion.heading }}</h{{ heading_level }}>
        <p class="mt-3 pb-2">{{ accordion.intro }}</p>
        <div class="mt-4 pl-0">
            {% for id, card in accordion.entries.items() -%}
                {% set card_id = 'card-' + id -%}
                <div class="card mt-2">
                    <div class="card-header d-sm-flex justify-content-between row collapsed w-100"
                         id="heading-{{ card_id }}" role="button" data-toggle="collapse"
                         data-target="#{{ card_id }}" aria-expanded="false"
                         aria-controls="{{ card_id }}">
                         <button class="col text-left" type="button">
                            <span class="mb-0">{{ card['heading'] }}</span>
                         </button>
                         <button class="col-1 control-show-more" type="button" tabindex="-1" aria-hidden="true">
                             <img src="{{ static_url_for('static', filename='icons/plus.svg') }}" alt="{{ _('plus.alt.text') }}"/>
                         </button>
                         <button class="col-1 control-show-less" type="button" tabindex="-1" aria-hidden="true">
                            <img src="{{ static_url_for('static', filename='icons/minus.svg') }}" alt="{{ _('minus.alt.text') }}"/>
                         </button>
                    </div>
                    <div id="{{ card_id }}" class="collapse" aria-labelledby="heading-{{ card_id }}"
                        data-parent="#{{accordion.id}}">
                        <div class="card-body-less-padding">
                            {% for (content) in card['paragraphs'] %}
                                <p> {{ content }}</p>
                            {%- endfor %}
                            {% if card['list-items'] %}
                                <ul>
                                    {% for listitem in card['list-items'] %}
                                        <li class="mb-2">{{ listitem }}</li>
                                    {%- endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro details(title, paragraphs, list_items=None, details_id='') %}
    <div id="details-{{ details_id }}" class="details-card ml-0 pl-0">
        <div class="card">
            <div class="card-header unstyled-card-header d-sm-flex justify-content-between align-items-center cursor-pointer mb-0">
                <div class="collapsed w-100" data-toggle="collapse"
                     id="heading-{{ details_id }}" data-target="#details-body-{{ details_id }}"
                     role="button" aria-expanded="false" aria-controls="details-body-{{ details_id }}">
                    <div class="row details-row">
                            <button class="btn details-icon control-show-more" type="button" tabindex="-1" aria-hidden="true"></button>
                            <button class="btn details-icon control-show-less" type="button" tabindex="-1" aria-hidden="true"></button>
                            <button class="btn details-header-text-button" type="button">
                                <span class="mb-0">{{title}}</span>
                            </button>
                    </div>
                </div>
            </div>
            <div id="details-body-{{ details_id }}" class="collapse" aria-labelledby="heading-{{ details_id }}"
                data-parent="#details-{{ details_id }}">
                <div class="card-body pt-0">
                    <div class="details-row row">
                            <div class="block-quote-line"></div>
                        <div class="details-content">
                            {% if paragraphs is string %}
                                <p> {{ paragraphs }}</p>
                            {% else %}
                                {% for (content) in paragraphs %}
                                    <p> {{ content }}</p>
                                {%- endfor %}
                            {% endif %}
                            {% if list_items %}
                                <ul>
                                    {% for list_item in list_items %}
                                        <li class="mb-2">{{ list_item }}</li>
                                    {%- endfor %}
                                </ul>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro help_button(id) %}
<a href="" class="btn btn-help ml-1" data-toggle="modal" data-target="#help_dialog_{{id}}" aria-label="{{ _('button.help') }}">?</a>
{%- endmacro %}

{% macro help_dialog(id, title, text) %}
<div class="modal fade" id="help_dialog_{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-n2">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('button.close.aria-label') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{text}}</div>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro teaserCard(url, title, description, img_url, direction, heading_level=3) %}
    <div class="teaser-card teaser-card--{{direction}}">
        <a href="{{ url }}">
            <div class="teaser-card-body">
                <h{{ heading_level }} class="pb-3 h3">{{ title }}</h{{ heading_level }}>
                <p>{{ description }}</p>
                <img src="{{ img_url }}" width="50" alt="icon info" />
            </div>
        </a>
    </div>
{% endmacro %}
