{% extends 'basis/base_error.html' %}
{% import "components.html" as components %}

{% block error_content %}
    <div class="section-intro">
        <div class="p-0">
            <div class="alert alert-danger" role="alert">
                <h1 class="alert-heading">{{ _('pdf_not_found.title') }}</h1>
            </div>
        </div>
    </div>
    <p>
        {{ _('pdf_not_found.reasons.intro') }}
    </p>
    <h4 class="mt-4">{{ _('pdf_not_found.reasons.expired.title') }}</h4>
    <p>{{ _('pdf_not_found.reasons.expired.intro') }}</p>
    <h4 class="mt-4">{{ _('pdf_not_found.reasons.no_tax_declaration.title') }}</h4>
    <p>{{ _('pdf_not_found.reasons.no_tax_declaration.intro') }}</p>
    {{ components.primaryButton( text=_('pdf_not_found.to_tax_declaration'), url=url_for('lotse', step='start')) }}
    <h4 class="mt-4">{{ _('pdf_not_found.reasons.not_activated.title') }}</h4>
    <p>{{ _('pdf_not_found.reasons.not_activated.intro') }}</p>
    {{ components.primaryButton( text=_('login.input-code'), url=url_for('unlock_code_activation', step='data_input')) }}
{% endblock %}