{% extends 'base_content.html' %}

{% block app_content %}
<h2>Kontaktieren Sie Ihr Finanzamt</h2>

<p class="font-weight-bolder mt-3">Geben Sie hier Ihre Postleizahl und Ihre Straße ein, um Ihr Finanzamt zu finden und
    zu kontaktieren.</p>

<div class="row">
    <div class="form-group col-md-3">
        <label for="plz">Postleizahl</label>
        <input type="text" class="form-control" id="plz">
    </div>
    <div class="form-group col-md-6">
        <label for="street">Straße</label>
        <input type="text" class="form-control" id="street">
    </div>
</div>

<script>
    $(document).ready(function ($) {
        var fill_in_defaults = function(event) {
            $('#plz').prop('value', "10179");
            $('#street').prop('value', "Heinrich-Heine-Straße");
        }
        $('#plz').on('click', fill_in_defaults);
        $('#street').on('click', fill_in_defaults);
    })
</script>

<button class="btn btn-primary px-4 my-3" id="search">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
        <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
    </svg>
    Suchen
</button>

<script>
    $(document).ready(function ($) {
        $('#search').on('click', function (event) {
            $('#results').show('fast');
        });
    })
</script>

<div class="mt-4" style="display: none;" id="results">
    <p>Zuständiges Finanzamt für die Postleizahl 10179:</p>

    <h2>Finanzamt Mitte/Tiergarten</h2>
    <p>Finanzamtsnummer: <span class="text-monospace">1134</span></p>

    <p class="mb-1"><strong>Sprechzeiten</strong></p>
    <p>
        Montag, Dienstag und Mittwoch: 08:00–15:00 Uhr<br />
        Donnerstag: 08:00–18:00 Uhr<br />
        Freitag: 08:00–13:30 Uhr
    </p>

    <p class="mb-1"><strong>Kontakt</strong></p>
    <p>
        E-Mail: <a href="#" class="text-decoration-none">poststelle@fa-mitte-tiergarten.example.org</a><br />
        Telefon: <a href="#" class="text-decoration-none">030 0000 000</a><br />
    </p>
    <p>
        <a href="#" class="btn btn-outline-primary">zur Finanzamt-Homepage</a>
    </p>
</div>
{% endblock %}