{% extends 'base.html' %}

{% block content %}
<div class="container-md">
    <div class="jumbotron"
        style="background-image: url({{ url_for('static', filename='images/landing_01.jpg') }}); background-position: 90% 20%; border-radius: 0px; background-size: cover; position: relative;">
        <div class="card col-md-6 card-half-transparent p-1">
            <div class="card-body">
                <h4 class="card-title font-weight-bolder">{{ _('landing.hero-title') }}</h4>
                <ul class="list-unstyled">
                    {%- macro li(text) %}<li class="mt-1"><img src="{{ url_for('static', filename='icons/check.svg') }}"
                            class="icon" alt="">{{text}}</li>{% endmacro %}
                    {{li(_('landing.hero-list-item-1'))}}
                    {{li(_('landing.hero-list-item-2'))}}
                    {{li(_('landing.hero-list-item-3'))}}
                    {{li(_('landing.hero-list-item-4'))}}
                </ul>
            </div>
        </div>

        <a id="scroll-to-cards" href="#cards" style="position: absolute; bottom: -16px; left: 50%; margin-left: -16px;">
            <img src="{{url_for('static', filename='icons/chevron_filled_down.png')}}" alt="{{ _('landing.scroll-down') }}"
                width="32" height="32" />
            <script>
                $('#scroll-to-cards').click(function (event) {
                    event.preventDefault();
                    $('html, body').animate({ scrollTop: $('#cards').offset().top - 50 }, 750);
                })
            </script>
        </a>
    </div>

    <div class="row justify-content-around">
        <h4 class="m-3 mb-5 font-weight-bolder text-center">Jetzt informieren oder direkt loslegen!</h4>
    </div>

    <a id="cards"></a>
        <div class="row justify-content-center">
            <div class="card col-md-4 mb-4 mx-4">
                <div class="card-body d-flex flex-column align-items-center">
                    <img src="{{ url_for('static', filename='icons/large_info.png') }}" width="64px" alt="icon info" />
                    <h5 class="text-center py-3">{{ _('landing.card1.title') }}</h5>
                    <a href="{{ url_for('howitworks') }}"
                        class="btn btn-primary px-4">{{ _('landing.card1.button') }}</a>
                </div>
            </div>
            <div class="card col-md-4 mb-4 mx-4">
                <div class="card-body d-flex flex-column align-items-center">
                    <img src="{{ url_for('static', filename='icons/large_start.png') }}" width="64px" alt="icon info" />
                    <h5 class="text-center py-3">{{ _('landing.card2.title') }}</h5>
                    <a href="{{ url_for('login_welcome') }}"
                        class="btn btn-primary px-4">{{ _('landing.card2.button') }}</a>
                </div>
            </div>
        </div>
</div>

{% endblock %}