[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-babel = "*"
flask-login = "*"
flask-migrate = "*"
flask-navigation = "*"
flask-limiter = "*"
flask-wtf = "*"
passlib = "*"
schwifty = "*"
redis = "*"
python-stdnum = "*"
requests = "*"
flask-sqlalchemy = "*"
pytest = "*"
bcrypt = "*"
gunicorn = "*"
psycopg2-binary = "*"
cryptography = "*"
prometheus-flask-exporter = "*"
pycryptodomex = "*"
python-json-logger = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.9"
