{% extends "base.html" %}

{% block content %}
<div class="container-md main-form mt-3 p-4">
  {% block app_content %}
  {% endblock %}
</div>
{% endblock %}

{% block footer %}
<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="{{ url_for('static', filename='images/logo_t4g_grey.png') }}" alt="Logo Tech4Germany"
          width="128">
        <small class="d-block mb-3 text-muted">in Berlin für Bürger_innen entwickelt</small>
      </div>
      <div class="col-6 col-md">
      </div>
      <div class="col-6 col-md">
      </div>
      <div class="col-6 col-md">
      </div>
    </div>
  </footer>
</div>
{% endblock %}

{% block optional_js %}
<script src="{{ url_for('static', filename='js/autonumeric.js') }}" type=text/javascript> </script>
<script>
  new AutoNumeric.multiple('.euro_field', { decimalCharacter: ",", digitGroupSeparator: "." });
  $(document).ready(function() {
    $('form').on('submit', function() {
      var btn = $(this).find('#btn-next-with-spinner');
      btn.addClass('disabled');
      btn.html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
    });
});
</script>
{% endblock %}
