{% macro form_header(render_info, hide_intro=False) -%}
{%- if render_info.flow_nav %}
<div style="position: relative;">
  <ul class="list-unstyled d-flex justify-content-around" style="position: relative;z-index: 10;">
    {%- for item in render_info.flow_nav %}
    <li class="d-flex align-items-center flex-column mx-1 {% if item.active %}step-active{% endif %}">
      <div class="steps-number"><span>{{item.number}}</span></div>
      <small class="pt-1 text-center">{{item.text}}</small>
    </li>
    {% endfor %}
  </ul>
  <hr style="position: absolute; top: 0px; left: 11%; right: 11%; border: 1px solid #bfd4ed; z-index: 1;">
</div>
{% else %}
<small>{{ render_info.flow_title }}</small>
{% endif -%}
<hr />
<h3 class="my-3">{{ render_info.step_title }}</h3>
{%- if render_info.step_intro and not hide_intro %}
<p class="font-weight-bolder">{{render_info.step_intro}}</p>
{% endif -%}
{%- endmacro %}

{# ------------------------ #}

{% macro help_button(id) %}
<a href="" class="btn btn-primary btn-help ml-1" data-toggle="modal" data-target="#help_dialog_{{id}}">?</a>
{%- endmacro %}

{% macro help_dialog(id, title, text) %}
<div class="modal fade" id="help_dialog_{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-n2">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{text}}</div>
    </div>
  </div>
</div>
{%- endmacro %}

{# ------------------------ #}

{% macro field_label(field, class="") %}
{%- set label = field.label -%}
{%- set help = field.render_kw['help'] -%}
<label for="{{label.field_id}}"
  class="{{class}}">{{label.text}}{% if help %}{{ help_button(label.field_id) }}{% endif %}</label>
{%- if help %}{{ help_dialog(label.field_id, label.text, help)}}{% endif %}
{%- endmacro %}

{% macro field_errors(field) -%}
{% for error in field.errors %}
<div class="invalid-feedback d-block">{{error}}</div>
{% endfor %}
{%- endmacro %}

{% macro radio_field(field) -%}
{% for subfield in field %}
<div class="form-row-center">
  {{ subfield(class="") }}
  {{ field_label(subfield, class="col-sm-10 col-form-label") }}
</div>
{% endfor %}
{%- endmacro %}

{% macro render_field_cols(field, cols, class="") -%}
<div class="col-md-{{cols}} mb-3">
  {{ field_label(field) }}
  {{ field(class="form-control" + class) }}
  {{ field_errors(field)}}
</div>
{%- endmacro %}

{% macro confirmation_field(field) %}
<div class="form-row-center ml-3">
  {{ field }}
  {{ field_label(field, class="col-sm-10 col-form-label")}}
</div>
{%- endmacro %}


{# ------------------------ #}

{% macro form_nav_buttons(render_info) -%}
<hr />
<a class="btn btn-outline-secondary {% if not render_info.prev_url %}invisible{% endif %}"
  href="{{ render_info.prev_url }}">{{ _('form.back') }}</a>
<button type="submit" class="btn btn-primary float-right" id="btn-next-with-spinner">{{ _('form.next') }}</button>
<a class="btn btn-outline-primary float-right {% if not render_info.overview_url %}d-none{% endif %} mr-2"
  href="{{ render_info.overview_url }}">{{ _('form.back_to_overview') }}</a>
{%- endmacro %}

{% macro form_display_nav_buttons(render_info) -%}
<hr />
<a class="btn btn-outline-secondary {% if not render_info.prev_url %}invisible{% endif %}"
  href="{{ render_info.prev_url }}">{{ _('form.back') }}</a>
<a class="btn btn-primary float-right {% if not render_info.next_url %}invisible{% endif %}" id="btn-next-with-spinner"
  href="{{ render_info.next_url }}">{{ _('form.next') }}</a>
<a class="btn btn-outline-primary float-right {% if not render_info.overview_url %}d-none{% endif %} mr-2"
  href="{{ render_info.overview_url }}">{{ _('form.back_to_overview') }}</a>
{%- endmacro %}